%div.userPanel.dragSource
  = image_tag user.image.nil? ? '/images/default_user.gif' : user.image.url, :size => '48x48'
  %div.userTextPanel
    %span.userName.listItemTitle
      = link_to(user.name, user_path(user.id))
    - if team && team.scrum_master && team.scrum_master.id == user.id
      %span.userRole Scrum Master
    - if team && team.product_owner && team.product_owner.id == user.id
      %span.userRole Product Owner
    %div
      %span.userJobTitle= user.job_title
    %div.userProfile= user.profile
  %div.clear
