/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/


form.formtastic {
  padding-top: 10px;
}

form.formtastic fieldset.buttons {
  padding-left: 15%;
}

form.formtastic > fieldset > ol > li > label {
  text-align: right;
  padding-right: 6px;
  width: 15%;
}


form.formtastic fieldset > ol > li.text textarea, 
form.formtastic fieldset > ol > li.string input, 
form.formtastic fieldset > ol > li.password input, 
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.email input,
form.formtastic fieldset > ol > li.url input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.search input { width: 82%; }
form.formtastic fieldset > ol > li.password input { max-width: 200px; }
form.formtastic fieldset > ol > li#user_name_input input { max-width: 500px; }
form.formtastic fieldset > ol > li#user_email_input input { max-width: 500px; }


input#task_remaining, input#task_estimate {
  max-width: 200px;
}
