body { background-color: #fff; color: #333; }

body, p, ol, ul, td, textarea, input {
  font-family: arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  margin: 0px;
}

.pageTitle {
  padding: 5px;
  font: 140% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  background: #555;
  color: #DDF;
}

.listTable {
  
}

.listTable th {
  text-align: left;
  white-space: nowrap;
}

.listTable tbody tr:hover {
  background: #DDF;
  cursor: pointer;
}

textarea {
  height: 150px;
}

td {
  vertical-align: top;
  margin: 0px;
}

.labelCell {
  padding: 3px 0px;
  text-align: right;
}

/* Menu */

.header {
  background-color: #444;
  display: block;
  min-height: 3em;
}

.menu {
  list-style-type: disc;
  list-style: none;
}

.menu li {
  color: #DDF;
  float: right;
  min-width: 4em;
  padding: 3px;
  font: 120% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
}

.menu li a {
  color: #DDF;
  font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-decoration: none;
}

.menu li:hover {
  background-color: #222;
  cursor: pointer;
}

