body, p, ol, ul, td, textarea, input {
  font-family: arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  margin: 0px;
}

body {
  background-color: #fff; 
  color: #333;
  min-width: 1000px;
}

textarea {
  min-width: 600px;
}

.dragTarget {
  min-height: 200px;
}

.listItem {
  padding: 2px 5px;
  border-bottom: 1px solid #BBB;
}

.noBorder {
  border-bottom: none;
}

.listItemTitle, .listItemTitle a, .storyPanel .title a, .taskPanel .title a, .taskPanel .title, .storyPanel .title  {
  font-size:   14px;
  font-weight: bold;
  line-height: 20px;
  color: #448;
  text-decoration: none;
}

.listItemMainTitle {
  font-size:   16px;
  line-height: 24px;
}

.assigneeBadge {
  margin-left: 8px;
  margin-top: 5px;
  padding: 2px 5px;
  color: #FFF;
  background-color: #448;
  border-radius: 8px;
  -moz-border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}

.statusBadge {
  margin-left: 8px;
  padding: 2px 5px;
  color: #FFF;
  border-radius: 8px;
  -moz-border-radius: 8px;
}

.priorityBadge {
  margin-left: 8px;
  padding: 2px 5px;
  background-color: #666;
  color: #FFF;
  border-radius: 8px;
  -moz-border-radius: 8px;
}

.pageTitle {
  padding: 5px;
  font: 140% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  background: #555;
  color: #DDF;
}

.listFilterPanel {
  background-color: #CCC;
  padding: 0.3em 2em;
}

.pagination {
  float: right;
}

.listTable {
}

.listTable th {
  text-align: left;
  white-space: nowrap;
}

.listTable tbody tr:hover {
  background: #DDF;
  cursor: pointer;
}

textarea {
  height: 150px;
}

td {
  vertical-align: top;
  margin: 0px;
}

.labelCell {
  padding: 3px 0px;
  text-align: right;
}

/* Menu */

.header {
  background-color: #444;
  display: block;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  min-width: 1000px;
}

.document {
  margin-top: 8em;
}

.flashMessage {
  background-color: #555;
  color: #DDD;
}

.headerTop {
#  min-height: 3em;
}

.headerTitle {
  color: #FFF;
  float: left;
  font: 170% "Trebuchet MS", Verdana, sans-serif;
  padding: .3em 0em .3em 2em;
}

.headerMenu {
  float: right;
}

.headerTabs {
}

.clear {
  clear: both;
}

.menu {
  list-style-type: disc;
  list-style: none;
}

.menu li {
  color: #DDF;
  float: right;
  padding: .3em 1em;
  font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
}

.menu li a {
  color: #DDF;
  font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-decoration: none;
}

.menu li:hover {
  background-color: #222;
  cursor: pointer;
}

.tabBar {
  list-style-type: disc;
  list-style: none;
}

.tabBarRight {
  float: right;
}

.tabBar li {
  float: left;
  font: 120% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  padding: .3em 1em;
}

.tabBar li:hover {
  background-color: #222;
  cursor: pointer;
}

.tabBar li.selected {
  background-color: #555;
}

.tabBar li a {
  color: #DDF;
  font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-decoration: none;
}

.subPanel {
}

.taskBoardMainPanel {
  min-width: 1200;
}

.taskBoardMainPanel .subPanel, .taskBoardMainPanel .headerSubPanel {
  border-left: 1px solid #888;
  float: left;
  width: 24.5%;
}

.taskSubPanel { 
  min-height: 100px;
}

.taskBoardRow {
  min-height: 100px;
  width: 100%;
  float: left;
}

.subHeading {
  font: 120% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;  
  background-color: #DDD;
  padding: 2px;
}

.leftPanel {
  float: left;
  width: 50%;
  min-width 300px;
}

.rightPanel {
  float: right;
  width: 50%;
  min-width 300px;
}

.releaseMainPanel {
  float: left;
  width: 70%;
  min-width 400px;
}

.releaseSidePanel {
  float: right;
  width: 30%;
  min-width 200px;
}

.storyPanel, .taskPanel {
  border: 1px solid #BBB;
  margin: 4px 6px 6px 4px;
  padding: 2px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  min-height: 92px;
  background-color: #EDEBB9;
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

.userPanel {
  margin: 4px 6px 6px 4px;
  padding: 2px;
  float: left;
}

.userPanel img {
  -moz-border-radius: 6px;
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
  display: block;
  margin: auto;
}

.userName {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: block;
}

.userRole {
  text-align: center;
  font-style: italic;
}

#planningSelected .listItem, #planningBacklog .listItem {
  border: 1px solid #BBB;
  margin: 4px 6px 6px 4px;
  padding: 2px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  min-height: 62px;
  background-color: #EEE;
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

.badgePanel {
  float: right;
}

/* forms */
.formPanel {
  padding: 2em;
}
