%div.headerMenu
  %ul.menu
    %li= login_or_logout_link
    %li= link_to 'Help', help_path
    - if user_session.logged_in?
      %li= link_to 'Preferences', preferences_path
      %li= link_to 'Change Project', projects_path
