%div.storyPanel
  %div.title
    %div.badgePanel
      = estimate_badge(story)
      = status_badge(story)
    = story.title
  %div.description= truncate(story.description, :length => 250, :omission => '...')
