<div class='listItem'>
<span class='listItemTitle'><%= project.title %></span><br/>
<span class='listItemDetail'><%= "#{project.start_date} - #{project.end_date}" %></span>
<a href="<%= edit_project_path(project.id) %>">Edit</a>
<a href="<%= project_path(project.id) %>">View</a>
</div>