<div class='pageTitle'>Project - <%= @project.title %></div>
<%= render @project.releases %>
<hr/>
<%= link_to 'Add Release', new_release_path(:parent => @project.id) %>
<%= link_to 'Back', projects_path %>