= page_heading("Project - #{@project.title}")
= render @project.releases
- if can? :manage, @project
  %div.listItem.noBorder
    = link_to 'Add Release', new_release_path(:parent => @project.id), :id => 'addRelease'
