<div class='listItem'>
  <span class='listItemTitle'><%= story.title %></span><br/>
  <span class='listItemDetail'><%= story.description %></span>
  <span class='listItemDetail' style='float: right;'><%= "Priority #{story.priority}" %></span>
</div>