= page_heading 'Project Backlog'

= render 'filter'

%div.listPanel.sortableList
  - @stories.each do |story|
    = render story
- if can? :manage, Story
  %div.listItem.noBorder
    = link_to 'Add Story', new_story_path
