<div id="chartdiv" style="height:400px; "></div>
<script type="text/javascript" charset="utf-8">
  $(function() {
    console.log('creating chart...');
    $.jqplot('chartdiv',  [[[1, 2],[3,5.12],[5,13.1],[7,33.6],[9,85.9],[11,219.9]]], { });
  });
</script>